/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/kurs/_hints.txt
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# extra
/.idea
.DS_Store
/.editorconfig
/.htaccess
/public/js
/public/css
/.phpstorm.meta.php
/.styleci.yml
/_ide_helper.php
