// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

i.fas {
    display: inline;
    margin-right: 5px;
}
.container {
    nav {
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        div {
            span {
                padding: 0;
                a, span {
                    padding: 0 5px !important;
                }
            }
        }
    }
}
